.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-title {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.article-meta {
    text-align: center;
}

.btn-delete {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.center {
    text-align: center;
    color: #05386B;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.article-content {
    text-align: center;
    color: #05386B;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 70%; 
    margin: 0 auto; 
    text-align: left;
    white-space: pre-wrap;
}

.article-detail {
    text-align: center;
    color: #05386B;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.article-box {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.answer-form {
    text-align: center;
    color: #05386B;
    font-family: 'Times New Roman', Times, serif;
    width: 20%; 
    margin: 0 auto; 
}

.form-control {
    height: 75px; 
    width: 70%;
    border-radius: 10px;
    font-size: 20px;
    color: #05386B;
    font-family: 'Times New Roman', Times, serif;
}

.comments {
    margin-top: 30px; 
    text-align: center;
    color: #05386B;
    font-family: 'Times New Roman', Times, serif;
}

.answer-form-wrapper {
    margin-top: 20px; 
}

.btn-primary {
    padding: 15px; 
    background-color: #5CDB95;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
}

.btn-primary:hover {
    background-color: #05386B;
}
