<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="login-container">
    <!-- Pop-up for flashed messages -->
<div id="popup" class="popup">
    <p id="popup-message" class="popup-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {{ message[5:] }} 
                {% endfor %}
            {% endif %}
        {% endwith %}
    </p>
    <a href="#" id="popup-close" class="popup-close">Close</a>
</div>

    <div class="login-section">
        <h2>Customer Login</h2>
        <form id="customer-login" action="{{ url_for('login') }}" method="post">
            {{ form.csrf_token }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p><button class="custom-button" type="submit">Login</button></p>
        </form>
        <div class="login-links">
            <a href="{{ url_for('forgot_password') }}">Forgot Password</a>
            <a href="{{ url_for('sign_up') }}">Sign Up</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#customer-login').submit(function(event) {
            event.preventDefault(); // Prevent form submission
            
            $.ajax({
                type: 'POST',
                url: '/login',
                data: $('#customer-login').serialize(),
                success: function(response) {
                    alert(response.message); // Show pop-up window
                    window.location.href = response.redirect_url; // Redirect after login
                },
                error: function(error) {
                    console.log(error);
                    alert('An error occurred. Please try again.'); // Show error message
                }
            });
        });
    });
</script>

{% endblock %}

</html>
