{% extends "base.html" %}

{% block title %}Forum Page{% endblock %}

{% block content %}
<div class="questions-container">
    <h2>Published Questions</h2>
    <div class="mb-3">
        Post article
    </div>
    {% if questions %}
        <ul class="questions-list">
        {% for question in questions %}
            <li class="question-item">
                <h3>{{ question.title }}</h3>
                <p>{{ question.content[:150] }}...</p >
                <p>Posted by {{ question.author.username }} on {{ question.create_time.strftime('%Y-%m-%d %H:%M') }}</p >
                Read more
                <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Article found.</p >
    {% endif %}
</div>
{% endblock %}