{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_question.css') }}">

<div class="profile-container">
    <div class="profile-header">
        <img src="https://www.gravatar.com/avatar/{{ current_user.avatar_hash }}?d=identicon&s=100" alt="Avatar" class="avatar">
        <h1 class="user-name">User: {{ current_user.username }}</h1>
    </div>
    <h2>Published Questions</h2>
    {% if questions %}
        <ul class="questions-list">
        {% for question in questions %}
            <li class="question-item">
                <h3>{{ question.title }}</h3>
                <p>{{ question.content[:150] }}...</p>
                <p>Posted by {{ question.author.username }} on {{ question.create_time.strftime('%Y-%m-%d %H:%M') }}</p>
                <a href="{{ url_for('question_details', question_id=question.id) }}">Read more</a>
                <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="no-content">No Articles found.</p>
    {% endif %}
</div>
{% endblock %}
