{% extends "base.html" %}

{% block title %}
Article Detail
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/question_details.css') }}">
<div class="article-box">
    <h1 class="center">{{ question.title }}</h1>
    <div class="article-content">
        {{ question.content | safe }}
    </div>

    <p class="article-detail"><strong>Published Date:</strong> {{ question.create_time.strftime('%Y-%m-%d') }}</p>
    <p class="article-detail"><strong>Author:</strong> {{ question.author.username }}</p>
</div>
<!-- Go Back Button -->
<div class="back-btn-container">
    <a href="{{ url_for('main.forum_page') }}" class="go-back-btn">Go Back to Forum</a>
</div>



<!-- Answer Form -->
<div class="answer-form-wrapper">
    <div class="answer-form">
        <h2>Answering the request</h2>
        <form method="POST" action="{{ url_for('main.public_answer') }}">
            <div class="form-group">
                <textarea name="content" required="required" placeholder="Enter your answer here..." class="form-control"></textarea>
            </div>
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <button type="submit" class="btn btn-primary">Submit Answer</button>
        </form>
    </div>
</div>

<!-- Display Comments -->
<div class="comments">
    <h2>Comments</h2>
    {% for answer in question.answers %}
        <div class="comment">
            <p><strong>{{ answer.author.username }}</strong> said on {{ answer.create_time.strftime('%Y-%m-%d %H:%M') }}:</p>
            <p>{{ answer.content }}</p>
        </div>
    {% else %}
        <p>No comments yet.</p>
    {% endfor %}
</div>

<a href="{{ url_for('main.delete_question', question_id=question.id) }}" class="btn-delete">Delete article</a>
{% endblock %}
