{% extends "base.html" %}

{% block title %}Welcome - PetPals Forum{% endblock %}

{% block content %}
<section class="welcome">
    <h1>Welcome to PetPals Forum</h1>
    <p>An open community dedicated to pet lovers and owners eager to exchange advice, stories, and experiences. </p>
    <p>We're committed to fostering a supportive and informative environment for all things pet-related.</p>
    <div class="all" id="box">
        <div class="screen">
            <ul>
                <li><img src="static/images/DogsInPark.jpeg" alt="DogsInPark"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/DogsInPark2.jpeg" alt="DogsInPark2"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC1.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC2.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC3.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC4.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
            </ul>
            <ol>


            </ol>

        </div>
        <div id="arr">
            <span id="left">&lt;</span>
            <span id="right">&gt;</span>
        </div>


    </div>
</section>

<section class="latest-article"> 
    <h2>Latest Article &#x1F5DE;&#xFE0F;</h2>
    <div id="articles-container"> 
    {% if latest_question %}
        
            <article>
                <h3>{{ latest_question.title }}</h3>
                <p>{{ latest_question.content[:150] }}...</p >
                <small>Published by {{ latest_question.author.username }} on {{ latest_question.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
                <a href="{{ url_for('main.question_details', question_id=latest_question.id) }}">Read more</a>
            </article>
        
    {% else %}
        <p>No recent articles found.</p >
    {% endif %}
    </div>
</section>


<section class="latest-article"> 
    <h2>Latest Event &#x1F5DE;&#xFE0F;</h2>
    <div id="articles-container"> 
    {% if latest_event %}
        <article>
            <h3>{{ latest_event.title }}</h3>
            <p>{{ latest_event.description[:150] }}...</p>
            <small>Published by {{ latest_event.author.username }} on {{ latest_event.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
            <a href="{{ url_for('main.event_details', event_id=latest_event.id) }}">Read more</a>
        </article>

        
    {% else %}
        <p>No recent event found.</p >
    {% endif %}
    </div>
</section>
{% endblock %}
