{% extends "base.html" %}

{% block title %}Welcome - PetPals Forum{% endblock %}

{% block content %}
<section class="welcome">
    <h1>Welcome to PetPals Forum</h1>
    <p>An open community dedicated to pet lovers and owners eager to exchange advice, stories, and experiences. </p>
    <p>We're committed to fostering a supportive and informative environment for all things pet-related.</p>
    <div class="all" id="box">
        <div class="screen">
            <ul>
                <li><img src="static/images/DogsInPark.jpeg" alt="DogsInPark"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/DogsInPark2.jpeg" alt="DogsInPark2"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC1.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC2.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC3.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC4.jpeg" alt="AnimalPIC in homepage"  style="width: 600px; height: auto;"></li>
            </ul>
            <ol>


            </ol>

        </div>
        <div id="arr">
            <span id="left">&lt;</span>
            <span id="right">&gt;</span>
        </div>
    </div>
    <div class="card-container1">
        <div class="card1">
            <p class="card-title1">Introduction to the Forum</p>
            <p class="small-desc1">
                This forum is dedicated to helping users who love pets to learn more about pets and to establish good social 
                relationships with people with similar interests on the platform.
                The platform will also release a series of offline pet exchange meetings and pet adoption activities, 
                please stay tuned.If you have a problem with your pet that can't be solved, you can contact us by phone 
                and we will try our best to provide some help.
            </p>
            <div class="go-corner1">
                <div class="go-arrow1">→</div>
            </div>
        </div>
    </div>

    <div class="card-container2">
        <div class="card2">
            <p class="card-title2">Medical care and contraception for pets</p>
            <p class="small-desc2">
                Both cats and dogs need regular medical care, including vaccinations, deworming, and bathing. Prompt visits and following the vet's recommendations 
                are essential to their health. In order to avoid excessive stray animals and health problems, spaying and neutering cats and dogs is necessary. 
                This not only helps control animal populations, but also helps improve their behavior and health.
            </p>
            <div class="go-corner2">
                <div class="go-arrow2">→</div>
            </div>
        </div>
    </div>

    <div class="card-container3">
        <div class="card3">
            <p class="card-title3">Dietary Restrictions</p>
            <p class="small-desc3">
                Cats and dogs have their own food taboos. For example, dogs can't eat foods such as chocolate, onions,
                garlic, and cats are allergic to dairy products and can't eat foods such as onions and chocolate. In additon,
                Citrus (oranges, lemons, tangerines) are acidic fruits, although rich in vitamin C, but also stimulate the cat's stomach, 
                if used in excess, it is easy to cause vomiting or diarrhea.
            </p>
            <div class="go-corner3">
                <div class="go-arrow3">→</div>
            </div>
        </div>
    </div>
</section>


<section class="latest-article"> 
    <h2>Latest Article &#x1F5DE;&#xFE0F;</h2>
    <div id="articles-container"> 
    {% if latest_question %}
        
            <article>
                <h3>{{ latest_question.title }}</h3>
                <p>{{ latest_question.content[:150] }}...</p >
                <small>Published by {{ latest_question.author.username }} on {{ latest_question.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
                <a href="{{ url_for('main.question_details', question_id=latest_question.id) }}">Read more</a>
            </article>
        
    {% else %}
        <p>No recent articles found.</p >
    {% endif %}
    </div>
</section>


<section class="latest-article"> 
    <h2>Latest Event &#x1F4E2;</h2>
    <div id="articles-container"> 
    {% if latest_event %}
        <article>
            <h3>{{ latest_event.title }}</h3>
            <p>{{ latest_event.description[:150] }}...</p>
            <small>Published by {{ latest_event.author.username }} on {{ latest_event.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
            <a href="{{ url_for('main.event_details', event_id=latest_event.id) }}">Read more</a>
        </article>

        
    {% else %}
        <p>No recent event found.</p >
    {% endif %}
    </div>
</section>
{% endblock %}
