{% extends "base.html" %}

{% block title %}Welcome - PetPals Forum{% endblock %}

{% block content %}
<section class="welcome">
    <h1>Welcome to PetPals Forum</h1>
    <p>An open community dedicated to pet lovers and owners eager to exchange advice, stories, and experiences. </p>
    <p>We're committed to fostering a supportive and informative environment for all things pet-related.</p>
    <div class="all" id="box">
        <div class="screen">
            <ul>
                <li><img src="static/images/DogsInPark.jpeg" alt="DogsInPark" style="width: 600px; height: auto;"></li>
                <li><img src="static/images/DogsInPark2.jpeg" alt="DogsInPark2" style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC1.jpeg" alt="AnimalPIC in homepage" style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC2.jpeg" alt="AnimalPIC in homepage" style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC3.jpeg" alt="AnimalPIC in homepage" style="width: 600px; height: auto;"></li>
                <li><img src="static/images/AnimalPIC4.jpeg" alt="AnimalPIC in homepage" style="width: 600px; height: auto;"></li>
            </ul>
            <ol></ol>
        </div>
        <div id="arr">
            <span id="left">&lt;</span>
            <span id="right">&gt;</span>
        </div>
    </div>
    <div class="card-container1">
        <div class="card1">
            <p class="card-title1">Introduction to the Forum</p>
            <p class="small-desc1">
                This forum is dedicated to helping users who love pets to learn more about pets and to establish good social 
                relationships with people with similar interests on the platform.
                The platform will also release a series of offline pet exchange meetings and pet adoption activities, 
                please stay tuned. If you have a problem with your pet that can't be solved, you can contact us by phone 
                and we will try our best to provide some help.
            </p>
            <div class="go-corner1">
                <div class="go-arrow1">→</div>
            </div>
        </div>
    </div>

    <div class="card-container2">
        <div class="card2">
            <p class="card-title2">Medical care and contraception for pets</p>
            <p class="small-desc2">
                Both cats and dogs need regular medical care, including vaccinations, deworming, and bathing. Prompt visits and following the vet's recommendations 
                are essential to their health. In order to avoid excessive stray animals and health problems, spaying and neutering cats and dogs is necessary. 
                This not only helps control animal populations, but also helps improve their behavior and health.
            </p>
            <div class="go-corner2">
                <div class="go-arrow2">→</div>
            </div>
        </div>
    </div>

    <div class="card-container3">
        <div class="card3">
            <p class="card-title3">Dietary Restrictions</p>
            <p class="small-desc3">
                Cats and dogs have their own food taboos. For example, dogs can't eat foods such as chocolate, onions,
                garlic, and cats are allergic to dairy products and can't eat foods such as onions and chocolate. In additon,
                Citrus (oranges, lemons, tangerines) are acidic fruits, although rich in vitamin C, but also stimulate the cat's stomach, 
                if used in excess, it is easy to cause vomiting or diarrhea.
            </p>
            <div class="go-corner3">
                <div class="go-arrow3">→</div>
            </div>
        </div>
    </div>

    <!-- New Dog Introduction Section -->
    <div class="dog-introduction">
        <h2>Dog species</h2>
        <p>Learn more about our lovely dogs. Here are some dog types and descriptions.</p>
        <div class="dog-cards">
            <!-- Dog 1 -->
            <div class="dog-card">
                <h3 class="dog-name">Siberian Husky</h3>
                <img src="static/images/dog1.jpeg" alt="Dog 1" class="dog-img">
                <div class="dog-info">
                    <p class="dog-desc">The Siberian Husky is a medium-sized breed that resembles a wolf in appearance, with a thick double coat.
                        They often have blue or brown eyes, and sometimes one of each. Huskies are friendly, energetic, and love
                        to exercise. They are well-suited to cold climates but do not do well when left alone for long periods.</p>
                </div>
            </div>
            <!-- Dog 2 -->
            <div class="dog-card">
                <h3 class="dog-name">Border Collie</h3>
                <img src="static/images/dog2.jpeg" alt="Dog 2" class="dog-img">
                <div class="dog-info">
                    <p class="dog-desc">The Border Collie is a medium-sized breed known for its intelligence and working ability. They are lively,
                        energetic dogs that require plenty of exercise and mental stimulation. Friendly and adaptable, Border Collies
                        make excellent working dogs as well as family pets. They excel in herding and various canine sports such as
                        frisbee and agility competitions.</p>
                </div>
            </div>
            <!-- Dog 3 -->
            <div class="dog-card">
                <h3 class="dog-name">Golden Retriever</h3>
                <img src="static/images/dog3.jpeg" alt="Dog 3" class="dog-img">
                <div class="dog-info">
                    <p class="dog-desc">The Golden Retriever is a large breed with a golden coat, known for its gentle and friendly nature. 
                        They are loyal, intelligent, and easily trainable, making them suitable for roles such as guide dogs 
                        and search and rescue dogs. They are affectionate companions and are great with families.</p>
                </div>
            </div>
            <!-- Dog 4 -->
            <div class="dog-card">
                <h3 class="dog-name">Pomeranian</h3>
                <img src="static/images/dog4.jpeg" alt="Dog 4" class="dog-img">
                <div class="dog-info">
                    <p class="dog-desc">The Pomeranian is a small breed with a cute appearance and dense fur. They are lively, confident, 
                        and sometimes a bit stubborn. Adapted to city life, they enjoy being close to their owners. 
                        Regular grooming is necessary to keep their coat tidy.</p>
                </div>
            </div>
            <!-- Dog 5 -->
            <div class="dog-card">
                <h3 class="dog-name">English Foxhound</h3>
                <img src="static/images/dog5.jpeg" alt="Dog 5" class="dog-img">
                <div class="dog-info">
                    <p class="dog-desc">The English Foxhound is a large breed with well-developed muscles, suitable for long outdoor activities. 
                        They have a friendly personality, strong social skills, and get along well with other dogs. 
                        Bred for hunting, especially tracking and fox hunting.</p>
                </div>
            </div>
            <!-- Dog 6 -->
            <div class="dog-card">
                <h3 class="dog-name">Shiba Inu</h3>
                <img src="static/images/dog6.jpeg" alt="Dog 6" class="dog-img">
                <div class="dog-info">
                    <p class="dog-desc">The Shiba Inu is a medium-sized breed originating from Japan, known for its compact appearance and upright ears. 
                        They have an independent and confident personality, with a high level of alertness. 
                        Requiring moderate exercise, they enjoy exploration and adventure. 
                        They are loyal to their owners but may be reserved with strangers.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cat-introduction">
    <h2>Cat breeds</h2>
    <p>Explore our adorable cats. Here are some cat breeds and descriptions.</p>
    <div class="cat-cards">
        <!-- Cat 1 -->
        <div class="cat-card">
            <h3 class="cat-name">Siamese Cat</h3>
            <img src="static/images/cat1.jpeg" alt="Cat 1" class="cat-img">
            <div class="cat-info">
                <p class="cat-desc">The Siamese cat is a medium-sized breed known for its striking appearance and vocal nature. 
                    They have a slender body, blue almond-shaped eyes, and short coat with color points. 
                    Siamese cats are social, intelligent, and enjoy interacting with their owners.</p>
            </div>
        </div>
        <!-- Cat 2 -->
        <div class="cat-card">
            <h3 class="cat-name">Maine Coon</h3>
            <img src="static/images/cat2.jpeg" alt="Cat 2" class="cat-img">
            <div class="cat-info">
                <p class="cat-desc">The Maine Coon is a large and majestic breed with a long, bushy tail and tufted ears. 
                    They are affectionate, friendly, and often described as "gentle giants." 
                    Maine Coons are good with children and other pets, making them great family companions.</p>
            </div>
        </div>
        <!-- Cat 3 -->
        <div class="cat-card">
            <h3 class="cat-name">Persian Cat</h3>
            <img src="static/images/cat3.jpeg" alt="Cat 3" class="cat-img">
            <div class="cat-info">
                <p class="cat-desc">The Persian cat is known for its long, luxurious coat and distinctive flat face. 
                    They have a calm and gentle demeanor, making them ideal indoor companions. 
                    Persian cats require regular grooming to maintain their coat's health and appearance.</p>
            </div>
        </div>
        <!-- Cat 4 -->
        <div class="cat-card">
            <h3 class="cat-name">Bengal Cat</h3>
            <img src="static/images/cat4.jpeg" alt="Cat 4" class="cat-img">
            <div class="cat-info">
                <p class="cat-desc">The Bengal cat is a medium to large-sized breed known for its distinctive leopard-like spots and 
                    athletic build. They are energetic, playful, and highly intelligent. 
                    Bengal cats enjoy interactive play and mental stimulation.</p>
            </div>
        </div>
        <!-- Cat 5 -->
        <div class="cat-card">
            <h3 class="cat-name">Ragdoll Cat</h3>
            <img src="static/images/cat5.jpeg" alt="Cat 5" class="cat-img">
            <div class="cat-info">
                <p class="cat-desc">The Ragdoll cat is a large and affectionate breed with striking blue eyes and a semi-long coat. 
                    They are known for their relaxed and gentle nature, often going limp when picked up. 
                    Ragdolls are good with children and other pets.</p>
            </div>
        </div>
        <!-- Cat 6 -->
        <div class="cat-card">
            <h3 class="cat-name">Scottish Fold</h3>
            <img src="static/images/cat6.jpeg" alt="Cat 6" class="cat-img">
            <div class="cat-info">
                <p class="cat-desc">The Scottish Fold cat is characterized by its unique folded ears, giving it an adorable and 
                    distinctive appearance. They are known for their sweet and affectionate nature, 
                    often forming strong bonds with their owners. Scottish Folds are adaptable to various living environments.</p>
            </div>
        </div>
    </div>
</section>



<section class="latest-article"> 
    <h2>Latest Article &#x1F5DE;&#xFE0F;</h2>
    <div id="articles-container"> 
    {% if latest_question %}
        <article>
            <h3>{{ latest_question.title }}</h3>
            <p>{{ latest_question.content[:150] }}...</p >
            <small>Published by {{ latest_question.author.username }} on {{ latest_question.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
            <a href="{{ url_for('main.question_details', question_id=latest_question.id) }}">Read more</a>
        </article>
    {% else %}
        <p>No recent articles found.</p >
    {% endif %}
    </div>
</section>

<section class="latest-article"> 
    <h2>Latest Event &#x1F4E2;</h2>
    <div id="articles-container"> 
    {% if latest_event %}
        <article>
            <h3>{{ latest_event.title }}</h3>
            <p>{{ latest_event.description[:150] }}...</p>
            <small>Published by {{ latest_event.author.username }} on {{ latest_event.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
            <a href="{{ url_for('main.event_details', event_id=latest_event.id) }}">Read more</a>
        </article>
    {% else %}
        <p>No recent event found.</p >
    {% endif %}
    </div>
</section>
{% endblock %}
